.formContainer{
    padding: 20px;
    background-color: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loginForm{
    display: flex;
    flex-direction: column;
    max-width: 250px;
}

.loginForm__submitButton{
    margin-top: 10px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    background-color: var(--buttonSubmit);
    color:#ffffff;
    transition: 0.3s ease-in-out;
}

.loginForm__submitButton:hover{
    background-color: var(--buttonSubmitHover);
}

.loginLink, .loginLink a{
    text-decoration: none;
    text-align: end;
    margin-top: 10px;
    margin-left: auto;
    display: flex;
    align-items: center;
    color: var(--text);
    transition: all 0.3s ease-in-out;
}

.loginLink:hover, .loginLink a:hover{
 color: var(--buttonSubmit);
}